.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-height: 100vh;
}

.title {
	margin-top: 7.5rem; 
	margin-bottom: 1rem;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 4rem 10rem;
}

.project {
	height: 16.8rem;
	width: 30rem;
	margin: 2vw;
	position: relative;
	color: #DDDDDD;
}

.links {
	display: flex; 
	flex-direction: column;
	align-items: center; 
	text-decoration: none;
	margin-bottom: 1rem;
	font-weight: 500;
	padding: 1rem 1.5rem;
	border-radius: 1rem;
	margin: 0 1rem;
	color: #DDDDDD;
	border: 2px solid #DDDDDD;
}

.links:hover {
	background-color: #FD7014;
}

.projectImage {
	width: 100%;
	height: 100%;
}

.cardDiv {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.cardImage {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
	transition: 500ms;
}

.project:hover > .cardImage {
	opacity: 0;
	z-index: -1;
}

.cardDiv > h1 {
	margin-block-start: 0;
	padding-top: 1.5vh;
}

.linksDiv {
	display: flex;
}

.technologies {
	display: flex;
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.technologies > p {
	margin: 1rem 0.5rem;
	font-size: small;
	font-weight: bold;
}

.projectTitle {
	margin: 0;
}

@media only screen and (max-width: 1366px) {
	.projects {
		margin: 4rem 5rem;
	}

	.project {
		height: 12.5rem;
		width: 22rem;
	}
}

@media only screen and (max-width: 1024px) {
	.project {
		height: 11.3rem;
		width: 20rem;
		font-size: small;
	}

	.links {
		padding: 0.5rem 1rem;
	}

	.technologies > p {
		margin: 0.75rem 0.5rem;
	}
}

@media only screen and (max-width: 768px) {
	.project {
		height: 14rem;
		width: 25rem;
	}

	.title {
		margin: 0;
		margin-top: 1.5rem;
	}
}

@media only screen and (max-width: 500px) {
	.project {
		width: 90vw;
		height: 50vw;
	}

	.projects {
		margin: 2.5rem 0.5rem;
	}

	.links {
		padding: 0.25rem 0.75rem;
	}

	.technologies > p {
		margin: 0.4rem 0.3rem;
		font-size: smaller;
	}
}

@media only screen and (max-width: 375px) {
	.links {
		padding: 0.25rem 0.75rem;
		transform: scale(0.8);
	}
}