.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	min-height: 100vh;
}

.title {
	margin-top: 7.5rem; 
	margin-bottom: 1rem;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 10rem;
}

.links {
	display: flex; 
	flex-direction: column;
	align-items: center; 
	text-decoration: none; 
	color: black;
	font-size: small;
	margin: 0.4rem;
}

.projectImage {
	width: 100%;
	height: 100%;
	min-width: 17em;
	min-height: 10em;
	cursor: pointer;
}

.cardDiv {
	height: 100%;
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.cardImage {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.cardDiv:hover {
	filter: brightness(1.1);
}

.cardDiv > h1 {
	margin-block-start: 0;
	padding-top: 1.5vh;
}

.linksDiv {
	display: flex;
	position: absolute;
	flex-direction: column;
	top: 0.1rem;
	right: 0.1rem;
	z-index: 1;
}

.technologies {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: grey;
	border-top: 2px solid black;
	border-radius: 0 0 0.1rem 0.1rem;
}

.technologies > p {
	margin: 1rem 0.5rem;
	font-size: small;
}

@media only screen and (max-width: 1366px) {
	
}

@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 768px) {
	
	.title {
		margin: 0;
		margin-top: 1.5rem;
	}
}