.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.subcontainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2rem;
}

.links {
	display: flex; 
	flex-direction: column;
	align-items: center; 
	text-decoration: none; 
	color: "black";
}

.projectImage {
	width: 100%;
	height: 100%;
	min-width: 17em;
	min-height: 10em;
	cursor: pointer;
}

.cardDiv {
	height: 100%;
	width: 100%;
}

.cardDiv:hover {
	filter: brightness(1.05) contrast(1.05);
}

.cardDiv > h1 {
	margin-block-start: 0;
	padding-top: 1.5vh;
}

.linksDiv {
	margin-top: 5vh;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}