.container {
	margin-top: 100vh;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.subcontainer {
	display: flex;
	justify-content: space-evenly;
}

.profilePic {
	border-radius: 9999px;
	width: 13rem;
	height: 13rem;
}

.about {
	display: flex;
	justify-content: center;
	align-items: center;
}

.info {
	margin-left: 3rem;
}