.container {
	min-height: 100vh;
	width: 100%;
	z-index: 3;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link {
	text-decoration: none;
	color: black;
	font-weight: 700;
	cursor: pointer;
}

.title {
	margin: 0;
	text-align: left;
}

.more {
	position: absolute;
	bottom: 0.5rem;
}

.button {
	border-radius: 1rem;
	padding: 1rem;
	background-color: grey;
	text-decoration: none;
	color: white;
	margin: 1rem;
}