.container {
	height: 100vh;
	width: 100%;
	z-index: 3;
	position: absolute;
	top: 0;
	background-color: white;
}

.link {
	text-decoration: none;
	color: black;
	font-weight: 700;
	cursor: pointer;
}

.arrow {
	transform: rotateZ(-90deg);
	transition: 100ms;
	transition-delay: 1000ms;
}

.arrow:hover {
	transform: rotateZ(0);
	transition: 200ms;
}