.container {
	min-height: 100vh;
	width: 100%;
	z-index: 3;
	position: absolute;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.link {
	text-decoration: none;
	color: black;
	font-weight: 700;
	cursor: pointer;
}

.title {
	margin: 0;
	text-align: left;
	font-size: 60px;
}

.description {
	margin: 0 30vw;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 20px;
}

.more {
	position: absolute;
	bottom: 2rem;
	animation: jump .75s linear alternate infinite;
}

.button {
	border-radius: 1rem;
	padding: 0.75rem;
	background-color: grey;
	text-decoration: none;
	color: white;
	margin: auto;
}

.button:hover {
	filter: brightness(1.2);
}

@media only screen and (max-width: 1366px) {
	.title {
		font-size: 50px;
	}
	.description {
		margin: 0 25vw;
		font-size: 16px;
	}
}

@media only screen and (max-width: 1024px) {
	.title {
		font-size: 42px;
	}
	.description {
		margin: 0 22vw;
		font-size: 15px;
	}
}

@media only screen and (max-width: 768px) {
	.title {
		font-size: 32px;
	}
	.description {
		width: 65%;
		font-size: 13px;
	}
}

@media only screen and (max-width: 500px) {
	.title {
		font-size: 24	px;
		margin: 0 1rem;
	}
	.description {
		width: 75%;
		margin: 0 auto;
		font-size: 12px;
	}
}

@keyframes jump {
	0% {
		transform: translate3d(0,0,0);
	}
	50% {
		transform: translate3d(0,5%,0);
	}
	100% {
		transform: translate3d(0,10%,0);
	}
}