.container {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

.title {
	margin-top: 7.5rem; 
	margin-bottom: 1rem;
}

.form {
	width: fit-content;
	padding: 2rem 4rem;
	transition: 300ms ease;
	font-weight: 600;
	margin: 3rem 0;
}

.formDiv {
	position: relative;
	width: fit-content;
	margin: 2rem auto;
}

.input {
	width: 20rem;
	height: 2rem;
	padding: 0 0.4rem;
}

.floatingLabel {
	position: absolute;
	pointer-events: none;
	top: 0.4rem;
	left: 0.4rem;
	transition: 200ms ease;
	color: #222831;
}

.formDiv input:focus ~ .floatingLabel, .formDiv input:not(:focus):valid ~ .floatingLabel, 
.formDiv textarea:focus ~ .floatingLabel, .formDiv textarea:not(:focus):valid ~ .floatingLabel {
	top: -1.25rem;
	left: 0.05rem;
	font-size: small;
	filter: invert();
}

@media only screen and (max-width: 768px) {
	.title {
		margin: 0;
		margin-top: 1.5rem;
	}
}

@media only screen and (max-width: 500px) {
	.form {
		padding: 1rem;
		transform: scaleX(0.75) scaleY(0.85);
		margin: 1rem 0;
	}
}

@media only screen and (max-width: 300px) {
	.form {
		padding: 0.25rem;
	}

	.input {
		width: 100vw;
	}

	.area {
		width: 100vw;
	}
}