#logoDiv {
	display: flex;
	height: 100vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: -100vw;
	z-index: 999;
	justify-content: center;
	align-items: center;
}

#hexagon {
  position: relative;
  width: 400px; 
  height: 230.94px;
  background-color: #fd7014;
  margin: 115.47px 0;
  border-left: solid 5px #222831;
  border-right: solid 5px #222831;
}

#hexagon:before,
#hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 282.84px;
  height: 282.84px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 53.5786px;
}

#hexagon:before {
  top: -141.4214px;
  border-top: solid 7.0711px #222831;
  border-right: solid 7.0711px #222831;
}

#hexagon:after {
  bottom: -141.4214px;
  border-bottom: solid 7.0711px #222831;
  border-left: solid 7.0711px #222831;
}

@media only screen and (max-width: 1024px) {
	#hexagon {
    position: relative;
    width: 300px; 
    height: 173.21px;
    margin: 86.60px 0;
  }
  
  #hexagon:before,
  #hexagon:after {
    width: 212.13px;
    height: 212.13px;
    left: 38.9340px;
  }
  
  #hexagon:before {
    top: -106.0660px;
  }
  
  #hexagon:after {
    bottom: -106.0660px;
  }
}

@media only screen and (max-width: 500px) {
	#hexagon {
    width: 150px; 
    height: 86.60px;
    margin: 43.30px 0;
  }
  
  #hexagon:before,
  #hexagon:after {
    width: 106.07px;
    height: 106.07px;
    left: 16.9670px;
  }
  
  #hexagon:before {
    top: -53.0330px;
  }
  
  #hexagon:after {
    bottom: -53.0330px;
  }
  
}