.background {
	margin: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.420);
}

.container {
	background-color: rgb(255, 255, 255);
	position: fixed;
	z-index: 10;
	border: 1px solid black;
	top: 3.5rem;
	right: 2.5rem;
	filter: brightness(0.8);
}

@media only screen and (max-width: 768px) {
	.container {
		left: 2.5rem;
		top: 9vh;
		width: fit-content;
	}
}