.container {
	display: flex;
	flex-direction: column;
	align-items: center	;
	justify-content: space-around;
	width: fit-content;
	height: 100%;
	min-height: 100vh;
	box-shadow: 0 0 0.75em rgba(51, 51, 51, 0.815);
}

.subcontainer {
	display: flex;
	flex-direction: column;
	margin: 4vh 0;
}

.subcontainer > * {
	padding: 0 0.25vw;
	margin: 1.5vh 0;
}

.landingDiv {
	margin: 0;
	border-bottom: 1px solid black;
	width: 100%;
	padding: 5vh 0;
}

.icon {
	width: 32px;
	height: 32px;
	border-radius: 9999px;
	padding: 0.2em;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}