.container {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	z-index: 2;
}

.subcontainer {
	display: flex;
	align-items: center;
	margin: 0 2.5rem;
}

.subcontainer > .link {
	margin: 0 1.5rem;
}

.link {
	text-decoration: none;
	font-weight: 700;
	cursor: pointer;
}

.link:hover {
	transform: scale(1.05);
}

.active {
	transform: scale(1.05);
	text-decoration: underline 2px solid black;
}

.languages {
	padding: 0;
	border-radius: 9999;
	border: none;
	background-color: transparent;
	margin-left: 2rem; 
	margin-right: 1.5rem;
	cursor: pointer;
}

.switchIcon {
	margin-left: 6px;
	margin-top: 5px;
}